<div id="user-page">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><h1><%= message.split.map(&:capitalize).join(' ') %></h1></div>
  <% end %>

<div class="new-user-form">
<h1>Welcome to Best Guest!  Please Sign Up!</h1>
<%= render partial: 'form'%>
<%= f.submit "Sign Up"%><br>
</div>
