<div class = "container">
<h1>Welcome to Best Guest!</h1>
<p>
  No one likes throwing a party on there own.  Best guest allows you to create events, invite guests, and tell them what they can bring to help!
</p>
</div>
<img class = "center-block logo" src="<%= asset_path( 'logo.png' ) %>" />
