<div class="splash-page">
  <div class = "container">
    <h1 class = "page-header">Welcome to Best Guest</h1>
    <p class = "text-primary">
    No one likes throwing a party on their own.  Tell your friends how to help.
    </p>
  </div>
  <div class="container">
    <img class = "center-block logo" src="<%= asset_path( 'logo.png' ) %>" />
  </div>
</div>
