<div class="splash-page">
    <h1>Best Guest</h1>
    <p class = "text-primary">
    No one likes throwing a party on their own.  Tell your friends how to help.
    </p>
    <img src="<%= asset_path( 'icon-chevron-big-down.png' ) %>" class ="center-block" id = "arrow-down"/>
</div>

<div class ="description"></div>
