/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.event-list {
  list-style-type: none;
}

.invite-block {
  margin-bottom: 75px;
}

.party-headline {
  font-size: 30px !important;
  margin-top: 50px;
}

.one {
  background: #7f8c8d !important;
}

 .event-text {
   margin-top: 75px;
   margin-bottom: 50px;
 }

.profile-links {
  margin-top: 100px;
  list-style-type: none !important;
}


.profile-headline {
  margin: 50px;
  font-size: 50px !important;
}


.page-header {
  color: white;
}

.form-headers {
  color: white !important;
}

.text-primary {
  color: white !important;
  font-size: 20px;
}

.splash-page {
  margin-top: 50px;
}

body {
  background: #B0BEC5 !important;
  color: white ;
  background-size: contain;
}

.logo {
  height: 200px !important;
  width: 400px !important;
  margin-top: 70px !important;
}


  a:hover {
      background-color: #818386 !important;
      color: #313133 !important;
  }

  a {
    color: white !important;
    text-decoration: none !important;
    list-style-type: none !important;
  }
