/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require materialize.css
*= require bootstrap.css
 *= require_self
*= require bootstrap-material-datetimepicker
 *= require_tree .
 */

@font-face {
  font-family: 'gt';
  src: url(font_path('gt.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
     font-family: 'markregular';
     src: url(font_path('markregular-webfont.eot')) format('embedded-opentype'),
          url(font_path('markregular-webfont.woff2')) format('woff2'),
          url(font_path('markregular-webfont.woff')) format('woff'),
          url(font_path('markregular-webfont.ttf')) format('truetype'),
          url(font_path('markregular-webfont.svg#markregular')) format('svg');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'leituradisplay';
     src: url(font_path('leituradisplay-roman-webfont.eot')) format('embedded-opentype'),
          url(font_path('leituradisplay-roman-webfont.woff2')) format('woff2'),
          url(font_path('leituradisplay-roman-webfont.woff')) format('woff'),
          url(font_path('leituradisplay-roman-webfont.ttf')) format('truetype'),
          url(font_path('leituradisplay-roman-webfont.svg#markregular')) format('svg');
     font-weight: normal;
     font-style: normal;

 }


 input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px #607D8B inset !important;
     -webkit-text-fill-color: #FAFAFA !important;
 }



 nav {
   background-color: transparent;
   box-shadow: none ;
   font-family: 'markregular' ;
   color: #FAFAFA ;
   position: relative ;
 }

 body {
   box-sizing: border-box;
   background: #607D8B ;
   background-size: contain;
   font-family: 'WorkSans-Light' ;

 }

 .hidden-mobile {
   display: block;
 }

 .banner-copy {
   font-size: 16px !important;
 }

 .sign-in-instructions {
   font-size: 14px !important;
 }

.dtp-btn-cancel, .dtp-btn-ok {
  color: #26a69a ;
}

#user-item-request, #guest-view-invited {
  margin-top: 30px ;
}

.logo-text {
  // font-family: 'Roboto Slab', serif;
  font-family: 'leituradisplay', sans-serif;
  font-weight: normal ;

}

.side-nav a {
  font-size: 16px;
}
 .party-headline {
   margin-top: 102px ;
   color: #FAFAFA;
   margin-bottom: -81px;
 }
.request-item {
  margin-top: 25px;
}


 .waves-circle {
   display: inline;
   float: right;
 }


.request-item-label, .create-item-field {
  color: black ;
}

 .btn {
   color: #FAFAFA ;
 }
.parties-heading {
  margin-top: 150px ;
}

 .invite-block {
   margin-top: 30px ;
 }

 .alert {
   margin-top: 75px;
 }

 .search-results {
   margin-top: 100px;
 }

.create-event-text {
  position: static ;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: #FAFAFA ;
  margin-bottom: 20px;
}

.new-party {
  margin-top: 175px;
  width: 75%
}


.waves-effect {
  background-color: #009688 ;
}

.brand-logo {
  font-family: 'markregular', serif;
  padding-left: 19px ;
  font-size: 21px ;
  color: #313133 ;
  font-weight: bold;
}

.material-icons {
  color: black;
}
.edit-headline {
  padding: 0 ;
  margin: 0 auto ;
  color: #FAFAFA ;
  position: static ;
}
.sign-up {
  padding-top: 100px ;
}
.login-headline {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0 auto;
  color: #FAFAFA ;
  padding-right: 50px;
}
.login-form {
  padding-top: 50px;
  max-width: 50%;
  margin: 0 auto;
}
.login-1 {
  padding-top: 100px;
}
.container-login {
  padding-top: 150px;
}
.modal-materialize {
  box-shadow: none;
  background-color: transparent;
}
.brand-logo {
  font-size: 21px ;
  color: #212121 ;
}
.nav-links {
  font-size: 16px ;
  color: #FAFAFA ;
  text-decoration: none ;
  list-style-type: none ;
}
.login {
  padding-top: 90px;
}
.splash-text {
  color: #CFD8DC ;
}
.logo-svg {
  position: absolute;
  left: 191px;
  bottom: -195px;
  min-width: 150px;
}
.logo-text {
  color: #FAFAFA ;
  margin-top: -100px;
}
.sign-up {
  max-width: 50%;
  padding: 75px;
}
/* label color */
.input-field label {
  color: #FAFAFA ;
  font-size: 12px;
  font-weight: 500;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #009688 ;
  font-weight: 1000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #009688 ;
  box-shadow: 0 1px 0 0 #009688 ;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #009688 ;
  box-shadow: 0 1px 0 0 #009688 ;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #009688 ;
  box-shadow: 0 1px 0 0 #009688 ;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #FAFAFA ;
  font-weight: 500;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #FAFAFA ;
  font-weight: 1000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #FAFAFA ;
  box-shadow: 0 1px 0 0 #FAFAFA ;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #FAFAFA ;
  box-shadow: 0 1px 0 0 #FAFAFA ;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #FAFAFA ;
  box-shadow: 0 1px 0 0 #FAFAFA ;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  color: #FAFAFA;
  font-size: 16px;
}

#item_name {
  color: #222;
}
#arrow-down {
  bottom: 50px;
  left: 50%;
  text-align: center;
  position: absolute;
  max-width: 60px;
}
#plus-icon {
  padding-top: 20px;
}
#add-new-event {
  text-align: center;
  background: rgba(0,0,0,0.1) ;
  border: 1px solid #979797;
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  min-height: 210px;
}
#add-new-event-body {
  background: rgba(0,0,0,0.05) ;
  border: 1px solid #979797;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 4px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent #009688;
  position: absolute;
  bottom: 20px;
  left: 15px;

  // bottom: 0px ;
  // left: 0px ;
}
.add-new-event {
  text-align: center;
}
span.count {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #F25454;
  position: absolute;
  color: #FAFAFA;
  top: -12px;
  right: 0;
}
span.count > p {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 100%;
}
div.panel-body {
  min-height: 150px;
  background: #F8F8F8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
h3.panel-title {
  color: #212121 ;
  font-family: 'Roboto Slab', serif;
}
.event-list {
  list-style-type: none;
}
.invite-block {
  margin-bottom: 75px;
}
.party-headline {
  font-size: 30px ;
  margin-top: 50px;
}
.one {
  background: #7f8c8d ;
}
.event-text {
  position: relative;
  color: #FAFAFA ;
  font-family: 'markregular', serif;
}
#new_user {
  color: #FAFAFA;
}
.profile-links {
  margin-top: 100px;
  list-style-type: none ;
}
.profile-headline {
  font-family: 'Roboto Slab', serif;
  margin: 50px;
  font-size: 50px ;
  position: relative ;
  padding-top: 60px ;
  color: #FAFAFA ;
}
.page-header {
  color: #FAFAFA;
}
.form-headers {
  color: #FAFAFA ;
}
.text-primary {
  color: #FAFAFA;
  font-size: 20px;
  padding-right: 63px;
}
.splash-page {
  margin-top: 250px;
  padding-right: 59px ;
}

.logo {
  height: 200px ;
  width: 400px ;
  margin-top: 70px ;
}
a:hover {
  color: #009688 ;
}
a {
  color: #FAFAFA ;
  text-decoration: none ;
  list-style-type: none ;
}
@media screen and (max-width: 768px) {



  .banner-copy {
    display: none;
  }

  .profile-headline {
    padding: 0 ;
    margin-top : 75px ;
  }
  .triangle {
    bottom: 0;
  }
  #arrow-down {
    max-width: 40px;
  }
}
@media screen and (max-width: 992px) {

  .hidden-mobile {
    display: none;
  }

  .splash-page {
    margin-top: 150px;
  }

  .profile-header {
    margin: auto ;
    padding: auto ;
  }
  .logo-svg {
    display: none;
  }

  .logo-text {
    font-family: 'Roboto Slab', serif;
    padding-top: 58px;
    color: #FAFAFA ;
    margin-top: -170px;
  }

  .sign-up {
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 100%;
      padding: initial;
      right: initial;

  }
  .edit-headline {
    padding: 0 ;
    margin: 0 auto ;
    color: #FAFAFA ;
    position: static ;
  }



}

.dtp-btn-cancel, .dtp-btn-ok {
  color: #26a69a ;
}

.github {
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 16px;
  right: 23px;
  z-index: 11;
}
